In [2]:
my_iterable=[1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [4]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [5]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [6]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [8]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [6]:
list_sum =  0
mylist=[1,2,3,4,5,6,7,8,9,10]

In [7]:
for num in mylist:
    list_sum=list_sum+num
    print(list_sum)
print(list_sum)

1
3
6
10
15
21
28
36
45
55
55

In [10]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [11]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [12]:
tup=(1,2,3)
for item in tup:
    print(item)

1
2
3

In [13]:
mylist=[(1,2),(3,4),(5,6),(7,8)]

In [14]:
len(mylist)

4

In [18]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [19]:
for (a,b) in mylist:
    print(b)

2
4
6
8

In [20]:
mylist=[(1,2,3),(4,5,6),(7,8,9)]

In [22]:
for a,b,c in mylist:
    print(b)

2
5
8

In [25]:
d = {'k1':1,'k2':2,'k3':3}
for key,value in d.items():
    print(value)

1
2
3

In [29]:
d = {'k1':1,'k2':2,'k3':3}
for value in d.values():
    print(value)

1
2
3